@model List<UtilitiesChat.Models.WS.ListRoomsResponse>

@{
    ViewBag.Title = "Lobby";
}
    <h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        @foreach (var oRoom in Model)
        {
            <div>
                @oRoom.Name<br />
                @oRoom.Description<br />
                <div style="text-align:center;">
                    <input class="btn btn-success" type="button" value="Ir a la Sala" onclick="jsGo(@oRoom.Id);" />
                </div>
            </div>
        }
    </div>
</div>

<script>
    function jsGo(idRoom)
    {
        alert(idRoom);
    }
</script>
